/* Resetowanie domyślnych styli */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ogólne style strony */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 2rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Menu */
.menu-item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 2rem;
}
/* Dodaj styl do przycisków */
.order-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00695C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.order-button:hover {
    background-color: #00796B;
    transform: scale(1.05);
}

.menu-item img {
    max-width: 100%;
    border-radius: 5px;
}

.menu-item h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.price {
    color: #e74c3c;
    font-weight: bold;
}

/* O Nas */
#about p {
    line-height: 1.5;
}

/* Kontakt */
#contact p {
    line-height: 1.5;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}